<%- include('partials/header'); -%>

  <header>

    <div class="headings">
      <h1>Hey Inquistive!</h1><br>
      <h3>STAG is an online Learning platform for best in class learning 
        and training in all concepts  related to software development. 
        This is a self-paced learning platform with a constant learning curve.<br>
      <br><center>What say bud? You up for this?</center></h3>
      <center><a href="/login" class="btn homebtn">Let's get started </a></center>
    </div>
  </header>
  <%- include('partials/footer'); -%>